name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows to run this via the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Racket environment
        uses: Bogdanp/setup-racket@v0.12
        with:
          architecture: x64
          distribution: full
          variant: BC
          version: 7.9

      - name: Run the test suite.
        run: ./run-tests.sh
